/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.DS_Store
*.gz
.vs/
.idea/
.gradle/
build/
*.mem
*.dmp
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/